body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.header {
    background-image: url("../images/header-default.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0px;
    text-align: center;
    background-size: 1700px;
    height: 275px;
    margin-bottom: 30px;
    width: 100%;
}